{% import "macro.twig" as macros %}
{% extends "__layout.twig" %}

{% block content %}
	<div>
		<h2>{{title}}</h2>
	</div>
	{{ macros.btnMenu( "Картинка", image_url, is_image ) }}
	{{ macros.btnMenu( "Описание", info_url, is_info ) }}
    
	<br>

	{% block objectContent %}{% endblock %}

{% endblock %}
