{% import "macro.twig" as macros %}
{% extends "__layout.twig" %}
{% set url = "/games/"~ object.id %}

{% block content %}
	<div>
		<h2>{{object.title}}</h2>
		<p>{{object.description}}</p>
		
	</div>
	{{ macros.btnMenu( "Картинка", url ~"/image", is_image )}}
	{{ macros.btnMenu( "Описание", url ~"/info", is_info )}}
    
	<br>

	{% block objectContent %}{% endblock %}

{% endblock %}
