{% extends "__layout.twig" %}

{% block content %}
	<ul class="list-group">
    {% for item in menu %}
      <li class="list-group-item">

        <a type="button" class="btn btn-primary" href= "{{item.url}}">{{item.title}}</a>
        <a type="button" class="btn btn-link" href="{{item.img_url}}">Картинка</a>
        <a type="button" class="btn btn-link" href="{{item.info_url}}">Описание</a>

      </li>
    {% endfor %}
	</ul>
{% endblock %}
