{% extends "__object.twig" %}

{% block objectContent %}
	<div class="m-2">
		Будешь отыгрывать роль школьника? Тогда тебе сюда!<br>
	</div>

	
        <li class="list-group-item">
            Shin Megami Tensei: Persona 2 — Innocent Sin (в Японии Persona 2: Tsumi (яп. ペルソナ２ 罪)) — 
                    ролевая компьютерная игра, разработанная и изданная японской компанией Atlus. Выпуск состоялся 24 
                    июня 1999 года для игровой приставки PlayStation. В 2011 году вышло переиздание игры для портативной 
                    консоли PlayStation Portable. Persona 2: Innocent Sin является второй в серии игр Persona.
        </li>
		
{% endblock %}
