{% extends "__layout.twig" %}
{% import "macro.twig" as macros %}

{% block content %}
	<h1 class="mb-3">Поиск</h1>

	<form action="" class = "mb-3">
        <div class = "row g-3">
            <label for="type" class="form-label col-3">Тип</label>
            <label for="title" class="form-label col-4">Название</label>
            <label for="description" class="form-label col-4" >Описание</label>
        </div>
		<div class="row g-3 justify-content-between">
			<div class="col-3">
				<select id = "type"class="form-select" name="type">
					<option selected value="">Все</option>
					{% for type in types %}
						<option value="{{type.type}}">{{type.type}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-4">
				<input id = "title" type="text" class="form-control" name = "title">
			</div>
			<div class="col-4">
				<input id = "info" type="text" class="form-control"  name = "description">
			</div>

            <button class="col-1 btn btn-primary" type="submit">Найти</button>
		</div>

	</form>
	<ul class="list-group">
		{% for game in objects %}
        <li class="list-group-item">{{ macros.btn( game.title, "/games/"~ game.id,  false ) }}</li>
		{% endfor %}
	</ul>
{% endblock %}
